*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
.container{
    max-width: 80%;
    background-color: aquamarine;
    padding: 25px;
    margin: auto;
}
h1,p{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

input,textarea{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 25px;
    padding: 10px;
    font-size: medium;
    border-radius: 10px;
    outline-color: green;
}

button{
    padding: 15px;
    font-size: medium;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 20px;
    cursor: pointer;
    background-color: blue;
    color: aliceblue;
}
button:hover{
    background-color: brown;
}

#desc{
    font-size: large;
}